
<div>
	<h3>Hi Admin,</h3>
	<p>
		One of the visitor like to know about admission at <strong>PES</strong>
	</p>
	<h4 style="padding-left: 0;">
		<u>Visitor Details</u>
	</h4>
	<p>
		<strong>Name : </strong><span>[[${body.name}]]</span>
	</p>
	<p>
		<strong>Email / Mobile : </strong><span>[[${body.emailMobile}]]</span>
	</p>
	<p>
		<strong>Admission for : </strong><span>[[${body.standard}]]</span>
	</p>
	<p>
		<strong>Description : </strong><span>[[${body.description}]]</span>
	</p>
	<br>

</div>